$bg: #acb0c3;
$dark: #29252D;
$dark-secondary: #5e585f;

html, body {
  background-color: $bg;
  color: $dark;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Spline Sans', sans-serif;
}

button {
  background-color: $dark;
  border: none;
  border-radius: 6px;
  color: $bg;
  cursor: pointer;
  padding: 4px 9px;
  user-select: none;
}

hr {
  background-color: $dark-secondary;
  border-bottom: none;
  border-left: 2px solid $dark-secondary;
  border-right: 2px solid $dark-secondary;
  border-top: none;
  height: 2px;
  margin: 0;
  max-width: calc(100% - 12px);
  padding: 0;
  width: 600px;
}

.cursive {
  font-family: 'Kolker Brush', cursive;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.constrained {
  margin: 0 auto;
  max-width: calc(100% - 12px);
  width: 600px;
}